<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a12august">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.12August">
        <activity
            android:name=".RoomDatabaseMVVMActivity"
            android:exported="true" />
        <activity
            android:name=".RoomDatabaseActivity"
            android:exported="true" />
        <activity
            android:name=".CustomDataBinding"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DataBinding1"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DataBindingExample2"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LiveDataActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PhotoShowerActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewModelActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ObserverActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>